* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #FF9900;
  stroke-width: 1.5px;
}
