
































































































































































































































































































svg[data-v-ba23c522]{
  margin: 25px;
}
path[data-v-ba23c522]{
  fill: none;
  stroke: #76BF8A;
  stroke-width: 3px;
}
